<div class="channel" id="channel-<%= @channel.aggregate_id %>">
  <header>
    <h1 class="channel--name"><%= @channel.name %></h1>
  </header>
  <div class="channel--members">
    <h2 class="channel--members-count">Members: <%= @channel.members.size %></h2>
    <ul id="channel--member-list">
      <% @channel.members.each do |member| %>
        <li id="<%= member.person_id %>"><%= member.name %></li>
      <% end %>
    </ul>
  </div>
  <% if member_of?(@channel) %>
    <%= button_to 'Leave', channel_membership_path(@channel.name), method: :delete %>
  <% else %>
    <%= button_to 'Join', channel_membership_path(@channel.name), method: :post %>
  <% end %>
  <h2>Messages</h2>
  <ul class="channel--messages">
    <% if @channel.messages.empty? %>
      <div class="channels--messages--emtpy">No messages</div>
    <% else %>
      <% @channel.messages.each do |message| %>
        <%= render 'message', message: message %>
      <% end %>
    <% end %>
  </ul>
  <%= simple_form_for SendMessage.new, url: channel_messages_path(channel_name: @channel.name), remote: true, html: { id: 'new_send_message' } do |f| %>
    <%= f.input 'message', as: :text %>
    <%= f.submit 'Send' %>
  <% end %>
</div>
